.ds_store
yarn.lock

# dependencies
node_modules
bower_components
package-lock.json
yarn.lock

# compiled output
/dist
/js
/coverage
/.vscode

# System Files
.DS_Store
Thumbs.db

# other folders
coverage/
/.tmp
