/* remove */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900);
body {
  margin: 0px;
  background: red; }

/**/
body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased; }

#login-barreira {
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 55px;
  z-index: 98;
  font-family: "Lato", sans-serif; }
  #login-barreira a {
    text-decoration: none; }
  #login-barreira .conteudo-barreira {
    background: #fff; }
    #login-barreira .conteudo-barreira #login-promocao {
      z-index: 99;
      height: 60px;
      width: 100%;
      bottom: 0px;
      position: fixed;
      background: #00aeef;
      -webkit-box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.24);
              box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.24); }
      #login-barreira .conteudo-barreira #login-promocao .conteudo-produto {
        margin: 0 auto;
        width: 300px;
        height: 60px;
        position: relative; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto img {
          display: block;
          float: left;
          margin: 7px 14px 0 0;
          width: 88px; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto h2 {
          display: block;
          margin: 0;
          padding: 8px 0 0 0;
          color: #fff;
          font-weight: 900;
          font-size: 24px;
          line-height: 1; }
          #login-barreira .conteudo-barreira #login-promocao .conteudo-produto h2 span {
            display: none; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto p {
          display: block;
          margin: 0;
          padding: 3px 0 0 0;
          font-size: 15px;
          line-height: 1;
          color: #005896;
          font-style: italic;
          letter-spacing: -0.5px; }
          #login-barreira .conteudo-barreira #login-promocao .conteudo-produto p .preco-menor {
            color: #fff; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto a {
          position: absolute;
          right: 0px;
          top: 50%;
          -webkit-transform: translate(0px, -50%);
              -ms-transform: translate(0px, -50%);
                  transform: translate(0px, -50%);
          background: url(../images/icArrowRight.svg) no-repeat right 50%;
          font-size: 0px;
          height: 30px;
          width: 30px; }
    #login-barreira .conteudo-barreira #login-barreira-iframe {
      text-align: center;
      padding-bottom: 60px;
      height: 520px;
      background: #fff; }
      #login-barreira .conteudo-barreira #login-barreira-iframe h2 {
        font-style: italic;
        margin: 0;
        font-size: 20px;
        letter-spacing: -0.3px;
        color: #071c37;
        font-style: inherit;
        line-height: 1;
        font-weight: 400;
        padding: 11px 0;
        border-radius: 0 4px 0 0;
        background: #eceff1;
        border-bottom: 1px solid #cfd8dc; }
        #login-barreira .conteudo-barreira #login-barreira-iframe h2 span {
          display: block;
          font-size: 16px;
          letter-spacing: -0.1px;
          color: #78909c;
          padding-top: 5px; }
      #login-barreira .conteudo-barreira #login-barreira-iframe iframe {
        border: 0px;
        height: 390px;
        width: 315px; }

@media only screen and (min-width: 765px) {
  #login-barreira {
    zoom: 1;
    top: 0;
    background: rgba(38, 42, 56, 0.97); }
    #login-barreira .conteudo-barreira {
      position: relative;
      top: 175px;
      width: 748px;
      height: 560px;
      margin: 0 auto;
      background: transparent;
      -webkit-box-shadow: 0 10px 200px 50px rgba(0, 0, 0, 0.5);
              box-shadow: 0 10px 200px 50px rgba(0, 0, 0, 0.5); }
      #login-barreira .conteudo-barreira #login-promocao {
        position: inherit;
        width: 388px;
        height: 560px;
        float: left;
        border-radius: 4px 0 0 4px;
        background-color: #1d4c9c; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto {
          width: 352px;
          margin-top: 64px; }
          #login-barreira .conteudo-barreira #login-promocao .conteudo-produto img {
            float: none;
            width: 100%; }
          #login-barreira .conteudo-barreira #login-promocao .conteudo-produto h2 {
            letter-spacing: -1.1px;
            text-align: left;
            font-size: 49px;
            padding: 9px 0 27px 0; }
            #login-barreira .conteudo-barreira #login-promocao .conteudo-produto h2 span {
              display: inline; }
          #login-barreira .conteudo-barreira #login-promocao .conteudo-produto p {
            font-size: 24px;
            line-height: 1.13;
            letter-spacing: -0.8px;
            text-align: left;
            color: #ffffff;
            width: 100px;
            margin-right: 24px;
            float: left;
            padding: 0; }
            #login-barreira .conteudo-barreira #login-promocao .conteudo-produto p .preco-menor {
              color: #55d1ff; }
          #login-barreira .conteudo-barreira #login-promocao .conteudo-produto a {
            float: right;
            position: inherit;
            width: 190px;
            height: 72px;
            border-radius: 100px;
            background: #00aeef url(../images/icArrowRight.svg) no-repeat 155px 30px;
            font-size: 24px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: -0.5px;
            text-align: left;
            color: #ffffff;
            display: inline-block;
            right: auto;
            top: inherit;
            -webkit-transform: inherit;
                -ms-transform: inherit;
                    transform: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin-top: 5px;
            padding: 24px 0 24px 32px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; }
            #login-barreira .conteudo-barreira #login-promocao .conteudo-produto a:hover {
              background-color: #73d9ff; }
      #login-barreira .conteudo-barreira #login-barreira-iframe {
        width: 360px;
        height: 560px;
        float: left;
        padding-bottom: 0px;
        border-radius: 0 4px 4px 0; }
        #login-barreira .conteudo-barreira #login-barreira-iframe h2 {
          padding: 19px 0;
          border-radius: 0 4px 0 0; }
          #login-barreira .conteudo-barreira #login-barreira-iframe h2 span {
            padding-top: 5px; }
        #login-barreira .conteudo-barreira #login-barreira-iframe iframe {
          margin-top: 40px;
          width: 331px; } }

@media only screen and (min-width: 769px) {
  #login-barreira .conteudo-barreira {
    width: 900px;
    height: 560px; }
    #login-barreira .conteudo-barreira #login-promocao {
      width: 540px;
      height: 560px; }
      #login-barreira .conteudo-barreira #login-promocao .conteudo-produto {
        width: 462px;
        margin-top: 29px; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto h2 {
          letter-spacing: -1px;
          padding: 18px 0 28px 0; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto p {
          font-size: 32px;
          width: 230px;
          letter-spacing: -1.1px; }
        #login-barreira .conteudo-barreira #login-promocao .conteudo-produto a {
          margin-top: 0px; } }
