@import './fonts.css';

.account-avatar:hover .account-tooltip {
    display: block !important;
}

.account-tooltip p:before {
    content: "";
    position: absolute;
    right: 7px;
    top: -7px;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
    background-color: white;
    border: solid 1px #cccccc;
    z-index: 0; 
}

.account-tooltip a {
    background: unset;
    background-size: unset;
    background-repeat: unset;
    background-color: unset;
    background-position: unset;
    width: unset;
    height: unset;
    overflow: unset;
    text-indent: unset;
    color: unset;
    float: unset;
    margin: unset;
    padding: unset;
    font-size: unset;
    text-decoration: unset;
    display: unset;
}
