@import './fonts.css';

.account-avatar:hover .account-tooltip {
    display: block !important;
}

.account-tooltip p:before {
    content: "";
    position: absolute;
    right: 7px;
    top: -7px;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
    background-color: white;
    border: solid 1px #cccccc;
    z-index: 0; 
}

.account-tooltip a {
    background: unset !important;
    background-size: unset !important;
    background-repeat: unset !important;
    background-color: unset !important;
    background-position: unset !important;
    overflow: unset !important;
    text-indent: unset !important;
    float: unset !important;
    margin: unset !important;
    padding: unset !important;
    text-decoration: unset !important;
    display: unset !important;
}
