footer .bar .assine, footer .footer #banner-assinatura-footer {
    background: none;
}

footer .footer #banner-assinatura-footer a, .top-header ul.menu-interacao>li#banner-assinatura a, .top-header ul.menu-interacao > li#banner-assinatura a, footer .bar .assine a {
    background: url(../images/btn-01@2x.png) no-repeat;
    background-size: 84px 52px;
}


@keyframes scaleOnLoad {
    from {transform: scale(1,1);}
    50% {transform: scale(1.3,1.3);}
    to {transform: scale(1,1);}
}

.top-header ul.menu-interacao>li#banner-assinatura a {
    transition: .3s all;
    animation-duration: 1s;
    animation-name: scaleOnLoad;
    animation-fill-mode: forwards;
    transform: scale(1,1);
}