.subscribe-button-valor {
    color: #fff;
    border-color: red;
    background-color: red;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 11px 16px;
    text-align: center;
    white-space: nowrap;
    font-family: opensans,helvetica,arial,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: -.3px;
}