.barra-globocom {
    position: fixed;
}

.paywall__site-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 44px;
    left: 0;
}

.barreira-register-paywall {
    z-index: 999;
    top: 252px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.50);
    transition: opacity 500ms ease-in-out;
    color: #000;
}

.barreira-register-paywall a {
    color: #000;
}

.paywall-oglobo, 
.paywall-blogs, 
.paywall-kogut,
.paywall-oglobo a, 
.paywall-blogs a, 
.paywall-kogut a
 {
    color: #325E94;
}

.barreira-register-paywall--content {
    width: 300px;
    min-height: 600px;
    margin: 0 auto;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-align: center;
}

.barreira-register-paywall--titulo {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 10px;
}

.barreira-register-paywall--titulo br {
    display: none;
}

.barreira-register-paywall--oftprincipal,
.barreira-register-paywall--oftsecundaria {
    font-size: 0px;
}

.barreira-register-paywall--oftprincipal img,
.barreira-register-paywall--oftsecundaria img {
    max-width: initial;
}

.barreira-register-paywall--oftprincipal a,
.barreira-register-paywall--oftsecundaria a {
    display: inline-block;
}

.barreira-register-paywall--oftsecundaria {
    padding-bottom: 30px;
}

.barreira-register-paywall--login {
    font-size: 17px;
    color: #767676;
    line-height: 20px;
    padding: 15px;
}

.barreira-register-paywall--login a {
    font-weight: 700;
}

.barreira-register-paywall--login a:hover {
    text-decoration: underline;
}

.barreira-register-paywall .mobi {
    display: block;
}

.barreira-register-paywall .desk {
    display: none;
}

@media (min-width: 820px) {
    .barreira-register-paywall .mobi {
        display: none;
    }
    .barreira-register-paywall .desk {
        display: block;
    }
    .barreira-register-paywall--content {
        width: 804px;
    }
    .barreira-register-paywall--titulo {
        padding: 21px;
    }
    .barreira-register-paywall--login {
        padding: 26px;
        font-size: 14px;
    }
    .barreira-register-paywall--titulo br {
        display: block;
    }
}


/* fixes */

#relacionadas-topo,
.footer-site,
.relacionado,
#footerOgloboPianoId {
    display: none !important;
}

.site-header--is-fixed, .site-header {
    transform: none !important;
    opacity: 1 !important;
    box-shadow: none !important;
}


.block--advertising--is-fixed, .site-header--is-fixed, .site-header {
    position: initial !important;
}

.site-header--is-fixed+* {
    margin-top: 0px !important;
}