#footerOgloboPianoId {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
}

#footerOgloboPianoId .-image {
    display: block;
    height: 60px;
}

/* Correction for projects */
.banner-bottom-fixed-is-active {
    padding-bottom: 60px;
}