.teste{
    display: flex;
}

.banner-swg-wrap {
    display: flex;
    align-items: center;
    background: rgb(230, 230, 230);
    margin: 0 auto 0px;
    max-width: 1260px;
    padding: 3px 5px;
}

.image-swg-banner {
    margin-right: 20px;
    margin-left: 150px;
    position: relative;
}

.text-swg-banner {
    font-family: 'Source Sans Pro', sans-serif;
    top: 50%;
    width: 60%;
}