<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Marketing Components</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>

</head>

<body>
    index

    <a href="//google.com">BOTAO</a>


    <!-- CHAT -->


    <!-- <% if (process.env.NODE_ENV==='production' ) { %>
        <script type='text/javascript' src='https://c.la2-c1-ia2.salesforceliveagent.com/content/g/js/49.0/deployment.js'></script>
        <script type='text/javascript'>
            liveagent.init('https://d.la2-c1-ia2.salesforceliveagent.com/chat', '5721a000000GqxB', '00D1a000000aTyk');
        </script>

        <script type="text/javascript">
            if (!window._laq) { window._laq = []; }
            window._laq.push(function () {
                liveagent.showWhenOnline('5731a000000GrOU', document.getElementById('liveagent_button_online'));
                liveagent.showWhenOffline('5731a000000GrOU', document.getElementById('liveagent_button_offline'));
            });</script>
        <% } else { %>
            <script type='text/javascript'
                src='https://c.la1-c1cs-ph2.salesforceliveagent.com/content/g/js/49.0/deployment.js'></script>
            <script type='text/javascript'>
                liveagent.init('https://d.la1-c1cs-ph2.salesforceliveagent.com/chat', '57263000000006Y', '00D630000008tdp');
            </script>

            <script type="text/javascript">
                if (!window._laq) { window._laq = []; }
                window._laq.push(function () {
                    liveagent.showWhenOnline('5736300000000MH', document.getElementById('liveagent_button_online'));
                    liveagent.showWhenOffline('5736300000000MH', document.getElementById('liveagent_button_offline'));
                });</script>
            <% } %>
                END CHAT -->

</body>

</html>
