.gcom-promo {font-family: 'Lato',sans-serif;line-height: 1.2; }
.gcom-promo * {-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out; }

.gcom-promo .back-drop {
    background: rgba(0, 0, 0, 0.7); 
    position: fixed; 
    z-index: 99999998; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
}

.gcom-promo .box-texto-comunicacao {
    width: 100%; 
    max-width: 300px; 
    display: flex; 
    justify-content: 
    center; margin: 0 auto; 
    position: fixed; z-index: 
    99999999; background: 
    transparent; 
    box-sizing: 
    border-box; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 4px;
}

@media (min-width: 768px) {
    .gcom-promo .box-texto-comunicacao {
        max-width: 600px;
    }
}
.gcom-promo .box-texto-comunicacao .fechar-modal { 
    position: absolute; 
    top: -10px; 
    right: -10px; 
    width: 100px; 
    height: 100px; 
    background: transparent;
}
.gcom-promo .box-texto-comunicacao .fechar-modal .fechar-modal-icone{ 
    position: absolute;
    right: 0;
    top: 0;
    width: 30px; 
    height: 30px; 
    font-size: 20px;
    cursor: pointer; 
    background: white; 
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
