
.piano-mobi-paywall * {-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out; }

.piano-mobi-paywall .back-drop {
    background: rgba(0, 0, 0, 0.7); 
    position: fixed; 
    z-index: 99999998; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
}

.piano-mobi-paywall .box-paywall-image {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    position: fixed; 
    z-index: 99999999; 
    background: transparent; 
    box-sizing: border-box; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 4px;
}

.piano-mobi-paywall .box-paywall-login-url {
  display: flex;
  flex-direction: column;
  
  background-color: white;
}

.piano-mobi-paywall .box-paywall-login-url .box-paywall-top { 
  max-width: 300px;
}

.piano-mobi-paywall .box-paywall-promo-url .box-paywall-bottom { 
  max-width: 300px;
}
