@import url("https://fonts.googleapis.com/css?family=Lato:400");
@import url("../../../fix/fix.css");
body {overflow: hidden;}
.comunicacao-piano {font-family: 'Lato',sans-serif;line-height: 1.2; }
.comunicacao-piano * {-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out; }
.comunicacao-piano .back-drop {background: rgba(0, 0, 0, 0.9); position: fixed; z-index: 99999998; width: 100%; height: 100%; top: 0px; left: 0px; }
.comunicacao-piano .box-texto-comunicacao {width: 100%; max-width: 768px; margin: 0 auto; position: fixed; z-index: 99999999; background: #fff; box-sizing: border-box; padding: 30px; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 4px; box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);}
.comunicacao-piano .box-texto-comunicacao h2 {margin: 0; padding: 0 10px 15px 0; font-size: 20px; font-weight: bold;}
.comunicacao-piano .box-texto-comunicacao p {margin: 0; padding: 0px; color: #000; font-size: 16px;}
.comunicacao-piano .box-texto-comunicacao p a {text-decoration: underline; color:#00aeef; }