.fotogaleria .conteudo, #footer-promocoes-piano, article aside#sidebar, .materia .conteudo, .link-top, #relacionadas-topo, #photoGallery .gallery .details, #photoGallery .gallery, #article #menu, #fotogaleria .gallery, .galeria div.tab-result, .box-medial .navMedial a, .fullScreen  {z-index: 1 !important; position: relative !important;}
body {overflow: hidden !important;}

.materia .site-header, .materia .site-header--is-hidden, .materia site-header--is-fixed, .materia .site-header, .materia site-header {
  top: 0px !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
  position: fixed !important;
  transition: none !important;
}

#article #sticker-sticky-wrapper {
    top: 44px !important;
    position: absolute !important;
}

@media only screen and (max-width: 760px) {
  body#article .top-header {
    position: fixed !important;
    top: 0px !important; }
  body#article .header-container {
    height: 58px !important; }
}
