@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@import url("../../../fix/fix.css");

.grid-falso {
    width: 1280px;
    margin: 0 auto;
}

 #footer-parceiros-piano {
    font-family: Raleway;
    font-size: 25px;
    line-height: 40px;
    color: #fff;
    background: linear-gradient(to right, #f2664c 0%,#ed1945 100%);
    clear: both;
    z-index: 90;
    position: fixed;
    bottom: 0px;
}

#footer-parceiros-piano .conteudo-parceiros-piano {
    position: relative;
    width: 960px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 50px;
}

#footer-parceiros-piano #logo-parceiros {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 168px;
    height: 40px;
    display: block;
    overflow: hidden;
}

#footer-parceiros-piano #logo-parceiros img {
    width: 100%;
}

#footer-parceiros-piano #texto-parceiros { 
    text-align: center;
    padding: 0;
    margin: 0;
}

#footer-parceiros-piano #texto-parceiros strong {
    font-weight: 900;
    color: #580b3c;
}

#footer-parceiros-piano #click-ga-piano-parceiros {
    position: absolute;
    top: 10px;
    right: 50px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    background: #570a3b;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0px 4px 0px 30px;
}
#footer-parceiros-piano #click-ga-piano-parceiros span {
    vertical-align: top;
}

#footer-parceiros-piano #click-ga-piano-parceiros:after {
    display: inline-block;
    content: "";
    width: 33px;
    height: 33px;
    position: relative;
    top: 3px;
    border-radius: 100px;
    background: #fff url(../images/setaLink.jpg) no-repeat 50% 50%;
    margin-left: 18px;
}