<!doctype html>

<html class="no-js" lang="pt">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Galileu Digital</title>
    <meta name="description"
        content="Edição digital do Jornal O Globo para computador, tablet e celular. Notícias do Rio, do Brasil e do Mundo. Disponível para assinantes." />
    <meta name="keywords"
        content="jornal digital, edição digital, Ancelmo Gois, Kogut, Noblat, Miriam Leitão, Merval Pereira, Lauro Jardim, Rio Show" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="http://css.og.infg.com.br/favicon.ico" />
    <link rel="apple-touch-icon" sizes="120x120"
        href="http://css.og.infg.com.br/1481821393/img/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="http://css.og.infg.com.br/1481821393/img/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" href="http://css.og.infg.com.br/1481821393/img/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="http://css.og.infg.com.br/1481821393/img/touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://css.og.infg.com.br/1481821393/img/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="http://css.og.infg.com.br/1481821393/img/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="http://css.og.infg.com.br/1481821393/img/touch-icon-ipad.png" />
    <meta property="og:image" content="http://css.og.infg.com.br/1481821393/img/touch-icon-ipad.png" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900,italic" rel="stylesheet" />

    <link rel="icon" type="image/x-icon"
        href="https://revistagalileu.revistadigital.globo.com/edigital/galileu/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="main.css" />

    <script src="https://www.google-analytics.com/analytics.js" async="async"></script>

</head>

<body class="page-galileu">

    <!-- GTM -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CB7ZCJ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script type="text/javascript">
        // <![CDATA[
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = (l != 'dataLayer' ? '&l=' + l : '');
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5CB7ZCJ');
	// ]]>
    </script>

    <header class="cabecalho">
        <nav class="wrapper">
            <a class="logo" href="https://revistagalileu.globo.com/"><img class="logo"
                    src="images/logo-galileu.png" /></a>
        </nav>
    </header>

    <section class="digital">

        <div class="wrapper edigital-content-cpnt">
            <div class="informacao col-left">
                <div class="loader"><img src="images/loader.svg" /></div>

                <div class="jornal-digital u-show">
                    <div class="capa-hoje">
                        <img alt="" class="col-left-image" />
                    </div>
                    <div class="texto-assinatura">
                        <h1 class="col-left-title"></h1>
                        <p class="col-left-text"></p>
                    </div>
                </div>
                <div class="links-apps">
                    <a target="_blank" class="apple sm-hidden col-left-urlApple" href="#">Baixar na App
                        Store</a>
                    <a target="_blank" class="android sm-hidden col-left-urlGoogle" href="#">Disponível
                        no Google Play</a>
                </div>
                <div class="caixa-login xl-hidden ">
                    <div class="overflow-caixa xl-hidden ">
                        <iframe id="iframeCadun" width="320" height="730"
                            src="https://login.globo.com/login/6697?url=https://revistagalileu.revistadigital.globo.com/autorizacao"></iframe>
                    </div>
                </div>
                <div class="caixa-stores xl-hidden">
                    <h3>Revista Digital no celular e tablet:</h3>
                    <a target="_blank" class="apple col-left-urlApple" href="#">Baixar na App Store</a>
                    <a target="_blank" class="android col-left-urlGoogle" href="#">Disponível no Google
                        Play</a>
                </div>
                <div class="contato">
                    <h3>Dúvidas?</h3>
                    <h4><a href="http://www.assineglobo.com.br/sac" target="_blank">Portal do Assinante ›</a></h4>
                    <p><a href="tel:40039393">4003-9393</a>
                        <a href="tel:08000218433" class="hide">0800 021 8433</a></p>
                </div>
            </div>
            <div class="promocao inativa col-right">
                <div class="loader"><img src="images/loader.svg" /></div>

                <div class="promocao-wrap u-show">
                    <div class="promocao-content ">
                        <div class="promocao-text col-right-topText"></div>
                        <img class="col-right-image" />
                        <div class="promocao-text-mob col-right-topText"></div>
                        <h2 class="col-right-title"></h2>
                        <p class="col-right-text"></p>
                        <div class="mais-informacoes globo-somente">
                            <div class="preco">
                                <div class="text">A partir de</div>
                                <span class="preco-final">
                                    <span class="primeiro-valor col-right-valuePart1"></span>
                                    <span class="holder-valor-tempo">
                                        <span class="segundo-valor col-right-valuePart2"></span>
                                        <span class="tempo col-right-period"></span>
                                    </span>
                                    <small class="col-right-info"></small>
                                </span>
                            </div>
                            <div class="link-assine">
                                <a id="assine-agora" class="col-right-btn" href="#" target="_blank">Assine Já</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script type="text/javascript"
        src="https://revistagalileu.revistadigital.globo.com/edigital/galileu/scripts/vendor/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://revistagalileu.revistadigital.globo.com/edigital/galileu/scripts/app.js"></script>

    <script>
        window.glbEdigitalContent = {
            colLeft: {
                image: 'https://revistagalileu.revistadigital.globo.com/edigital/galileu/images/tablet_gmais_galileu.png',
                product: 'Galileu',
                title: 'Galileu Digital',
                text: 'Acesso exclusivo para assinantes da Galileu. Para ler, faça sua assinatura.',
                urlApple: 'https://itunes.apple.com/br/app/o-globo/id390832733?mt=8',
                urlGoogle: 'https://play.google.com/store/apps/details?id=br.com.infoglobo.oglobo',
            },
            colRight: {
                topText: 'Ainda não é assinante?',
                image: 'https://revistagalileu.revistadigital.globo.com/edigital/galileu/images/pack-galileu.png',
                title: 'Galileu',
                text: 'A ciência ajuda você a mudar o mundo.',
                price: {
                    value: 1.90,
                    period: '/mês',
                    info: 'Por 3 meses'
                },
                btnText: 'Assine Já',
                btnUrl: 'https://assinaturaglobo.globo.com/galileu-2/vitrine/galileu/?campanha=sim&amp;site_par=1&amp;origem_par=1&amp;formato_par=gc_vitrine&amp;versao_par=reader&amp;utm_source=sitegc&amp;utm_medium=display&amp;utm_campaign=eg_gc_vitrine_reader',
                btnStyle: 'background: #ffca30; color: #000;',

            }
        }

        // window.glbEdigitalContent = {
        //     colLeft: {
        //         image: 'https://jornaldigital.oglobo.globo.com/globo/images/capa.jpg',
        //         product: 'O Globo',
        //         title: 'Jornal Digital',
        //         text: 'Acesso exclusivo para assinantes do Globo. Para ler, faça sua assinatura.',
        //         urlApple: 'https://itunes.apple.com/br/app/o-globo/id390832733?mt=8',
        //         urlGoogle: 'https://play.google.com/store/apps/details?id=br.com.infoglobo.oglobo',
        //     },
        //     colRight: {
        //         topText: 'AINDA NÃO É ASSINANTE?',
        //         image: 'https://jornaldigital.oglobo.globo.com/globo/images/oglobo-digital.png',
        //         title: 'GLOBO DIGITAL',
        //         text: 'Réplica do jornal em versão digital, acesso ilimitado ao site e aplicativo do Globo.',
        //         price: {
        //             oldValue: 19.90,
        //             value: 2.90,
        //             period: '/MÊS',
        //             info: 'no 1° mês'
        //         },
        //         btnText: 'Assine Já',
        //         btnUrl: 'https://assinaturaglobo.globo.com/o-globo/vitrine/globo?interno_origem=siteoglobo&amp;interno_midia=display&amp;interno_campanha=og_jornaldigital',
        //         btnStyle: 'background: #00aeef; color: #fff;',

        //     }
        // }
    </script>
    <script src="index.js"> </script>
    <script>
        new EdigitalContent()</script>

</body>

</html>