* {
	transition: all .4s;
}

.loader { 
	display: flex;
}

.loader img { 
	max-width: 100px;
}

.informacao .loader {
	margin-left: 80px;
}

.promocao .loader {
	justify-content: center;
}

.is-hide { 
	display: none;
}

.u-show { 
	visibility: hidden;
}

.is-show { 
	visibility: visible;
	animation-name: fadeIn .4s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		max-height: 0%;
	}
	100% {
		opacity: 1; 
		display: 100%;
	}
}


.grid-col,
sub,
sup {
	position: relative
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent;
	text-decoration: none
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
optgroup,
strong {
	font-weight: 700
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

svg:not(:root) {
	overflow: hidden
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre,
textarea {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

::-moz-selection {
	background: #005b94
}

::selection {
	background: #005b94
}

body * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body :after,
body :before {
	content: "";
	display: table
}

body :after {
	clear: both
}

body {
	font-family: Lato, sans-serif;
	-webkit-font-smoothing: antialiased
}

a,
abbr,
acronym,
address,
article,
aside,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
iframe,
img,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
section,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline
}

caption,
td,
th {
	text-align: left;
	font-weight: 400;
	float: none
}

table,
td,
th {
	vertical-align: middle
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: ''
}

.sm-hidden {
	display: block!important
}

.xl-hidden {
	display: none!important
}

@media screen and (min-width:1024px) {
	.xl-hidden {
		display: block!important;
		padding: 0px 0px 0px 5px;
	}
	.sm-hidden {
		display: none!important
	}
}

.hidden {
	display: none!important
}

.visible {
	display: block!important
}

.wrapper {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	display: block;
}

.digital .wrapper {
	display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

@media screen and (max-width:1023px) {
	.digital .wrapper {
		flex-direction: column;
		margin-top: unset;
	}
}


.grid-col {
	float: left
}

.grid-col-1 {
	width: 8.33333%
}

.grid-col-2 {
	width: 16.66667%
}

.grid-col-3 {
	width: 25%
}

.grid-col-4 {
	width: 33.33333%
}

.grid-col-5 {
	width: 41.66667%
}

.grid-col-6 {
	width: 50%
}

.grid-col-7 {
	width: 58.33333%
}

.grid-col-8 {
	width: 66.66667%
}

.grid-col-9 {
	width: 75%
}

.grid-col-10 {
	width: 83.33333%
}

.grid-col-11 {
	width: 91.66667%
}

.grid-col-12 {
	width: 100%
}

header.cabecalho {
	background:#000;
	height: 48px
}

header.cabecalho a {
	color: transparent;
	display: block;
	background: url(https://revistagalileu.revistadigital.globo.com/images/galileu-logo-crapped.png) 50% 50% no-repeat;
	text-align: center;
	margin: 5px;
	height: 38px;
	background-size: contain;
}

section.digital .informacao {
	margin: 0 auto
}

@media screen and (max-width:1023px) {
	section.digital .informacao {
		padding: 0 10px;
	}
}

section.digital .informacao .jornal-digital {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

section.digital .informacao .texto-assinatura {
  color: #000;
  letter-spacing: -.4px;
	padding-left: 10px;
}

section.digital .informacao .texto-assinatura h1 {
  font-size: 30px;
}

section.digital .informacao .texto-assinatura p {
		letter-spacing: -0.4px;
		color: #9e9e9e;
		font-size: 18px;
		line-height: 1.11;
	}

section.digital .informacao .links-apps {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-around;
}

section.digital .informacao .links-apps .android,
section.digital .informacao .links-apps .apple {
	width: 126px;
	height: 40px;
	background: url(https://revistagalileu.revistadigital.globo.com/images/app-store.svg) no-repeat;
	color: transparent;
	display: block;
	border-radius: 5px
}

section.digital .informacao .links-apps .android {
	background: url(https://revistagalileu.revistadigital.globo.com/images/google-play.svg) no-repeat;
	background-size: 125px 40px;
	margin-top: 8px
}

section.digital .contato {
	color: #9e9e9e;
	margin: 20px 0 80px;
	z-index: 2;
	padding: 0px 10px;
}

section.digital .informacao .contato h3 {
	font-size: 18px;
	padding: 20px 0 15px
}

section.digital .informacao .contato h4 {
	padding: 0 0 5px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}

section.digital .informacao .contato h4 a {
	color: #4a90e2
}

section.digital .informacao .contato p {
	font-size: 14px;
	line-height: 20px;
}

section.digital .informacao .contato p a {
	color: #000;
	font-weight: 700;
	display: inline-block;
}

section.digital .informacao .contato .hide {
	display: none;
}

section.digital .promocao {
	position: relative;
	background: linear-gradient(135deg, #030404 0, #292a2b 103%);
	margin-top: 30px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

section.digital .promocao:before {
	position: absolute;
	display: none;
	background: #fff;
	width: 200%;
	height: 700px;
	top: -690px;
	left: -90px;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	z-index: 0
}

section.digital .promocao .promocao-wrap {
	padding: 0 10px;
	width: 320px;
	margin: 0 auto
}

section.digital .promocao .promocao-wrap h2 {
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: -.4px;
	color: #99b6d0;
	text-align: center;
	margin-top: 24px;
}

section.digital .promocao .promocao-wrap .promocao-content {
	opacity: 1;
}

@media screen and (max-width:1023px) {
	section.digital .promocao .promocao-wrap .promocao-content {
		margin-top: -80px;
	}
}

section.digital .promocao .promocao-wrap .promocao-text {
	display: none;
	text-transform: uppercase;
	}
	
	@media screen and (min-width:1024px) {
		section.digital .promocao .promocao-wrap .promocao-text {
			display: block;
			color: #fff;
			line-height: 1;
			font-size: 26px;
			bottom: 475px;
			left: 76px;
			width: 350px;
			margin-bottom: 5px;
		}
	}

section.digital .promocao .promocao-wrap .promocao-text-mob {
	display: block;
	color: #fff;
	text-align: left;
	line-height: 1;
	font-size: 23px;
	margin: 10px 0px 10px 0px;
}
	
	@media screen and (min-width:1024px) {
		section.digital .promocao .promocao-wrap .promocao-text-mob {
			display: none;
		}
	}

section.digital .promocao .promocao-wrap .promocao-content img {
	width: 100%
}

section.digital .promocao .promocao-wrap .promocao-content h2 {
	color: #fff;
	text-align: left;
	line-height: 1;
	font-size: 28px;
	margin-top: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

section.digital .promocao .promocao-wrap .promocao-content p {
	font-size: 25px;
	line-height: 1.17;
	color: #fff;
	margin: 8px auto 20px;
	letter-spacing: -.1px
}

section.digital .promocao .promocao-wrap .promocao-content p a {
	color: #00aeef;
	display: inline-block
}

section.digital .promocao .promocao-wrap .promocao-content p a:hover {
	text-decoration: underline
}

section.digital .promocao .promocao-wrap .promocao-content p strong {
	display: inline-block
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes {
	display: flex;
}

@media screen and (max-width:1023px) {
	section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes {
		margin-bottom: 40px;
	}
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco {
	display: block
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .text {
	display: block;
	font-size: 18px;
	font-weight: 500;
	color: #fff
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final {
	color: #fff;
	line-height: 1;
	margin-right: 10px;
	display: grid;
	grid-template: 
	"firstValue holderValue"
	"firstValue holderValue"
	"info info";
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .valor-rs {
	display: inline-block;
	float: left;
	font-size: 21px;
	position: relative;
	top: -20px;
	margin-right: 3px
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .primeiro-valor {
	font-size: 72px;   
	font-weight: 900;
	display: inline-block;
	margin-left: -30px
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .holder-valor-tempo {
	display: inline-block;
	grid-area: holderValue;
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .holder-valor-tempo .segundo-valor {
	font-size: 36px;
	line-height: .75;
	margin-top: 10px;
	font-weight: 900;
	font-style: normal;
	display: block;
}
section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .holder-valor-tempo .tempo{
	font-size: 21px;
	line-height: 1.29;
	position: relative;
	top: 3px;
	font-style: italic;
	text-transform: uppercase;
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .holder-valor-tempo .tempo {
	font-size: 21px;
	line-height: 1.29;
	position: relative;
	top: 3px;
	font-style: italic
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final small {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	display: block;
	clear: both;
	font-weight: bold;
	grid-area: info;
}

section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes.globo-somente .preco .preco-final .primeiro-valor {
	margin-left: 0;
}

section.digital .promocao .promocao-wrap .promocao-content .link-assine {
	display: block;
	margin-left: 8px;
	width: 100%;
}

section.digital .promocao .promocao-wrap .promocao-content .link-assine a {
	height: 64px;
	border-radius: 100px;
	background-color: #fff;
	display: block;
	text-align: center;
	font-size: 22px;
	padding-top: 20px;
	font-weight: 900;
	line-height: 1;
	color: #000;
	margin-top: 25px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

section.digital .promocao .promocao-wrap .promocao-content .link-assine a:hover {
	background-color: #fff;
	color: #000;
}

section.digital .promocao.inativa .promocao-content {
	display: block;
	width: 100%;
}

@media screen and (min-width:1024px) {
	section.digital .promocao.inativa .promocao-content{
		display: block;
	}
}


section.digital .promocao.ativa {
	margin-top: 120px;
	padding-bottom: 35px
}

section.digital .promocao.ativa .promocao-content {
	display: block
}

@media screen and (min-width:1024px) {
	body {
		background: url(https://revistagalileu.revistadigital.globo.com/images/tumbnew-gray.png) 50% 0 no-repeat fixed;
		background-size: cover;
		overflow-x: hidden;
		position: relative
	}
	header.cabecalho {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 5
	}
	header.cabecalho a {
		text-align: left;
		background-position: 20px 50%
	}
	section.digital .promocao {
		background: 0 0;
		margin-top: 0;
		min-height: initial;
		position: relative;
		margin-top: 42px;
		transform: translate(88px, 0px);
	}
	section.digital .promocao:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		-webkit-transform: translate(-12px, 0);
		-ms-transform: translate(-12px, 0);
		transform: translate(-12px, 0);
		width: 24px;
		height: 1px;
	}
	section.digital .promocao.ativa {
		margin-top: 0;
		padding-bottom: 0;
		margin-right: -20px
	}
	section.digital .promocao.ativa:after {
		display: none
	}
	section.digital .promocao .promocao-wrap {
		width: 380px;
		padding: 0
	}
	
	section.digital .promocao .promocao-wrap .promocao-content img {
		position: relative;
		left: -20px
	}

	section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .valor-rs {
		top: 10px
	}
	section.digital .promocao .promocao-wrap .promocao-content .mais-informacoes .preco .preco-final .primeiro-valor {
		margin-left: 0;
		grid-area: firstValue
	}
	section.digital .promocao .promocao-wrap .promocao-content .link-assine a {
		width: 270px;
		height: 72px;
		padding-top: 26px
	}
	section.digital:before {
		display: none
	}
	section.digital .informacao {
		background: #fff;
		margin: 0;
		height: 1054px;
		overflow-y: hidden;
		width: 426px;
		margin-left: -36px;
	}
	section.digital .informacao .caixa-login {
		height: 461px;
		position: relative;
		overflow: hidden
	}
	section.digital .informacao .caixa-login iframe {
		position: relative;
		top: -82px;
		left: -30px;
		overflow-y: scroll
	}
	section.digital .informacao .caixa-login .caixa-erro .login-ativo {
		font-size: 18px;
		color: #062750;
		margin-top: 24px
	}
	section.digital .informacao .caixa-login .caixa-erro .login-ativo a,
	section.digital .informacao .caixa-login .caixa-erro .login-ativo img,
	section.digital .informacao .caixa-login .caixa-erro .login-ativo span,
	section.digital .informacao .caixa-login .caixa-erro .login-ativo strong {
		display: inline-block
	}
	section.digital .informacao .caixa-login .caixa-erro .login-ativo strong {
		font-weight: 900
	}
	section.digital .informacao .caixa-login .caixa-erro .login-ativo a {
		font-size: 16px;
		color: #4a90e2;
		font-weight: 700
	}
	section.digital .informacao .caixa-login .caixa-erro .login-ativo span {
		color: #9e9e9e;
		padding: 0 8px
	}
	section.digital .informacao .caixa-login .caixa-erro .login-ativo img {
		position: relative;
		margin-right: 6px;
		top: 2px
	}
	section.digital .informacao .caixa-login .caixa-erro h2 {
		font-size: 28px;
		font-weight: 900;
		letter-spacing: -.5px;
		color: #a61313;
		padding: 9px 0 16px
	}
	section.digital .informacao .caixa-login .caixa-erro p {
		font-size: 18px;
		color: #222;
		line-height: 1.4
	}
	section.digital .informacao:before {
		width: 100%;
		margin-left: -100%;
		height: 2054px;
		background: #fff;
		position: fixed;
		display: block;
		top: 0;
		z-index: 0
	}
	section.digital .informacao:after {
		margin-left: 300px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 1354px 260px 0 0;
		border-color: #fff transparent transparent;
		position: fixed;
		display: block;
		top: 0;
		z-index: 0
	}

	section.digital .informacao .caixa-stores,
	section.digital .informacao .jornal-digital {
		position: relative;
		z-index: 2;
	}
	section.digital .informacao .caixa-stores h3 {
		font-size: 18px;
		color: #999;
		margin-bottom: 14px
	}
	section.digital .informacao .caixa-stores .android,
	section.digital .informacao .caixa-stores .apple {
		width: 125px;
		height: 40px;
		background: url(https://revistagalileu.revistadigital.globo.com/images/app-store.svg) no-repeat;
		color: transparent;
		border-radius: 5px;
		display: inline-block
	}
	section.digital .informacao .caixa-stores .android {
		background: url(https://revistagalileu.revistadigital.globo.com/images/google-play.svg) no-repeat;
		background-size: 125px 40px;
		margin-left: 5px
	}
	section.digital .informacao .links-apps h1 {
		margin-top: 44px
	}
}

/* COLORS */
.page-oglobo .cabecalho {
	background: #004F9A;
}

.page-valor .cabecalho {
	background: #006767;
}

@media screen and (max-width:1023px) {
	.page-oglobo section.digital .promocao {
		background: #004F9A;
	}

	.page-valor section.digital .promocao {
		background: #006767;
	}
}